$icon-font-path: '../fonts/'

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
// endbower


.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0


/* Space out content a bit */
body
  padding-bottom: 20px
  padding-top: 40px

.footer
  margin-top: 20px
  text-align: center
  padding-top: 19px
  color: #777
  border-top: 1px solid #e5e5e5

.panel-default > .panel-heading
  color: #468847
  background-color: #dff0d8
  border: 1px solid #d6e9c6
